body {
    background-color:#c0c0c0;
}
.text{
    text-align: center;
    font-family: "Constantia"; 
    padding-bottom: 40px;
    color:rgb(58, 57, 57);
}
.carousel-img{
    max-height: 800px;
    width: 100%;
    border-radius: 15px;
}
section{
    padding: 100px;
    border-radius: 8px;
    margin-bottom: 20px;
}
data-bs-spy {
    position: relative;
}